<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="mydirective/dropdown/style.css">

    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script  src="mydirective/dropdown/index.js"></script>

    <script src="app.js"></script>


</head>
<body>
<div ng-app="myapp" ng-controller="MainCtrl" class="container">
    <div style="width: 500px; padding: 100px;">
        <dropdown placeholder="Select Driver To Pair" list="list1" selected="sel1" ></dropdown>
        <br>
        {{sel1}}
    </div>


    <div style="width: 500px; padding: 100px;">
        <dropdown2 list="list2" placeholder="Select Driver/Car" selected="sel2" ></dropdown2>
        <br>
        {{sel2}}
    </div>

</div>
</body>

</html>
