.ddbg-default{
   background-color: #fff !important;
   color: #333 !important;
}
.ddbg-selected{

    background-color: #C5D2E0 !important;
    color: #fff !important;
}


/*.ddl .dropdown-toggle {*/
    /*overflow: hidden;*/
    /*padding-right: 24px !* Optional for caret *!;*/
    /*text-align: left;*/
    /*text-overflow: ellipsis;*/
    /*width: 100% !important;*/
    /*border: 1px solid #666 ;*/
    /*border-radius: 1px;*/

/*}*/

/*!* Optional for caret *!*/
/*.ddl .dropdown-toggle .caret {*/
    /*position: absolute;*/
    /*right: 12px;*/
    /*top: calc(50% - 2px);*/
/*}*/

/*.ddl{*/
    /*width: 300px;*/
/*}*/

/*.ddl .dropdown-menu{*/
    /*width: 100% !important;*/
/*}*/


.wrapper {
    text-transform: uppercase;

    position: relative;

}

.wrapper .tooltip {
    background: #1496bb;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -25px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #1496bb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
    display: none;
}

.lte8 .wrapper:hover .tooltip {
    display: block;
}
.wrapper:hover{
    background-color: #364150 !important;
    color: #fff;
}




.dropdown-display{
    border: #ccc solid 1px;
}
.dropdown-list{
    border: #ccc solid 1px;
}