<div class="dropdown-container" ng-class="{ show: listVisible }">
    <div class="dropdown-display {{isPlaceholder?'ddbg-default':'ddbg-selected'}}" ng-click="show();" ng-class="{ clicked: listVisible }">
        <span ng-if="!isPlaceholder" >{{display}}</span>
		<span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
		<i class="fa fa-angle-down"></i>
    </div>
    <div class="dropdown-list" ng-show="listVisible">
        <div>
            <div class="wrapper" ng-repeat="item in list" ng-click="select(item,item.driver.name+'/'+item.car.no)" >
                <span >{{item.driver.name}}/{{item.car.no}}</span>
                    <div class="tooltip"><div class="tooltipd" >
                        <div ng-if="item.driver" style="width: 300px;float: left"><p>Driver</p><img style="float: left;width: 50px;" ng-src="{{item.driver.img}}"><span >{{item.driver.name}}</span></div>
                        <div  ng-if="item.car" style="width: 300px;float: left"><p >Vehicle</p><img style="float: left;width: 50px;" ng-src="{{item.car.img}}"><span>{{item.car.no}}</span></div>
                    </div></div>





            </div>
        </div>
    </div>
</div>