<div class="dropdown-container" ng-class="{ show: listVisible }">
    <div class="dropdown-display {{isPlaceholder?'ddbg-default':'ddbg-selected'}}" ng-click="show();" ng-class="{ clicked: listVisible }">
        <span ng-if="!isPlaceholder" >{{display}}</span>
		<span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
		<i class="fa fa-angle-down"></i>
    </div>
    <div class="dropdown-list" ng-show="listVisible">
        <div>
            <div ng-repeat="item in list" ng-click="select(item)" >
                <span>{{item}}</span>
                <i class="fa fa-check"></i>
            </div>
        </div>
    </div>
</div>